*, *:before, *:after {
box-sizing: border-box;
position: relative;	
}

html,body{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding:0;
}
body{
	background:lime;
	height: 100vh;
}
@keyframes move{
	from{left: -200px;}
	to {left:200px;}
}

.ft-perfil{
	width: 50%;
	border-radius:50%;
	animation: move 5s linear 2s infinite alternate;
}
section{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}
h1{
	color:black;
	font-size: 50px
}
div img{
	width: 100px;
    height: 100px;
}