*, *:before, *:after {
box-sizing: border-box;
position: relative;	
}

html,body{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding:0;
}
body{
	background-color:lime;
	background-size:100% 100%; 
	height: 100vh;
}
@keyframes move{
	from{left: -200px;}
	to {left:200px;}
}

.ft-perfil{
	width: 50%;
	border-radius:50%;
	animation: move 5s linear 2s infinite alternate;
}
section{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
}
h1{
	color:aquamarine;
	font-size: 50px
}
div img{
	width: 50px;
    height: 50px;
}
footer{
	display:flex;
	justify-content:center;
	position: fixed;
	width: 100%;
	bottom: 0;
	background: rgba(0,0,0,0.5);
}
span{
	color:turquoise;
}
.vnw{
	color:gold;
}
@media (max-width: 640px) {
	.ft-perfil{
		width:65%;
	}
	@keyframes move{
		from{left:-60px;}
		to{left:60px;}
	}


}